* {
  margin: 0;
  padding: 0; }

body {
  background: #202027; }

#drum-machine {
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
  background: #050517;
  width: 700px;
  margin: 5rem auto;
  font-family: 'Audiowide', 'Courier New', monospace;
  border-radius: 8px;
  box-shadow: 2px 2px 10px 2px black;
  border: 2px rgba(207, 92, 54, 0.3) solid; }

.app-header {
  flex-basis: 100%;
  margin: 1rem;
  font-size: 1.4rem;
  background: #110704;
  border: 1px rgba(207, 92, 54, 0.5) groove;
  border-radius: 4px; }
  .app-header h1 {
    margin-left: 3rem;
    font-family: 'Rajdhani';
    font-size: 3.5rem;
    font-weight: 400;
    color: rgba(207, 92, 54, 0.8);
    text-shadow: 2px 2px 10px #aa4928; }

.pad {
  padding: 0.7rem 0rem;
  color: rgba(244, 227, 178, 0.8);
  background: #190b06;
  border: 1px rgba(207, 92, 54, 0.5) solid;
  border-radius: 4px;
  text-align: center;
  vertical-align: center;
  cursor: pointer; }

.padPoweredOn {
  transition: all 1s;
  box-shadow: #cf5c36 1px 1px 8px; }
  .padPoweredOn:hover {
    transition: none;
    color: #d97d5f;
    background: #1e0d07; }
  .padPoweredOn:active {
    background: radial-gradient(closest-side, #6c2e1a, #190b06);
    color: rgba(212, 109, 75, 0.8);
    box-shadow: #cf5c36 1px 1px 2px; }

.padPoweredOff {
  transition: all 1s; }

.pads-container {
  display: grid;
  margin: 0.6rem;
  grid-gap: 0.6rem;
  width: 370px;
  grid-template-columns: repeat(3, 1fr);
  border: 1px rgba(207, 92, 54, 0.5) groove;
  border-radius: 4px;
  padding: 1rem 1rem; }
  .pads-container .drum-pad {
    font-size: 2.5rem;
    text-align: center;
    vertical-align: center; }

.controls {
  border: 1px rgba(207, 92, 54, 0.5) groove;
  border-radius: 4px;
  margin: 0.6rem auto; }
  .controls #display {
    width: 12rem;
    height: 1.8rem;
    margin: 1rem;
    padding: 0.3rem 0.9rem;
    background: #220e08;
    color: rgba(207, 92, 54, 0.8);
    font-size: 1.4rem;
    font-weight: 400;
    border-radius: 4px;
    border: 2px rgba(128, 55, 31, 0.6) groove; }
  .controls .volume-controls {
    width: 220px;
    text-align: center;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem; }
  .controls .power-button {
    margin: auto;
    width: 90px; }
