* {
  margin: 0;
  padding: 0; }

body {
  background: #eee; }

#drum-machine {
  background: #111;
  width: 680px;
  margin: 5rem auto; }

.pads-container {
  display: grid;
  width: 400px;
  grid-template-columns: repeat(3, 1fr); }

.drum-pad {
  background: #ccc;
  font-size: 3rem;
  margin: 0.5rem;
  padding: 1.4rem 0;
  cursor: pointer;
  text-align: center;
  vertical-align: center; }

#display {
  background: #ccc; }
